<!doctype html>
<html lang="en" id="htmlElement" data-theme="dark">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/assets/images/favicon.ico" rel="icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/sidebar.css" />
    <link rel="stylesheet" href="/assets/css/settings.css" />
    <link rel="stylesheet" href="/assets/css/error-logs.css">
    <link rel="stylesheet" href="/assets/css/navigation.css">

    <script type="module" src="/assets/components/playground.js"></script>
    <!--<script type="module" src="/assets/js/dark-mode.js"></script>-->
    <script src="/assets/js/snackbar.js"></script>


    <title>ThePond</title>
  </head>

  <body>
    <div id="app"></div>
    <!-- Menu button for phone -->
    <div id="menu_button">
      <i class="bi bi-list"></i>
    </div>
    <!-- Snackbar for messages -->
    <div id="snackbar_wrapper"></div>
  </body>

</html>